body {
    height: 100vh;
    font-family: arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

ul {
     list-style-type: none;
     margin: 0;
}

.header {
    padding: 6px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
}

#circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer; 
}

#circle:hover {
    background-color: rgba(60,64,67,0.08);
}

#nine-dots {
    color: #5f6368;
    width: 18px;
    height: 18px;
}

#colorful-circle {
    margin-right: 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#logo {
    margin-top: 4px;
    margin-bottom: 26px;
}

.outdiv {
    width: 100%;
    box-sizing: border-box;
}

.search {
    width: auto;
    max-width: 584px;
    margin: auto;
}

input:focus {
    outline: none;
}

.input-border {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 36px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgba(0,0,0,0.18);
    padding: 3px;
    width: auto;
    max-width: 584px;
    margin-bottom: 22px;
    padding-left: 11px;
    padding-right: 18px;
}

.input-border:hover, .input-border:focus-within {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    border-color: white;
}

.box-input {
    border-style: none;
    font-size: 16px;
}
.box-input:focus-visible {
    border-style: none;
}

.material-icons {
    color: #9aa0a6;
    font-size: 20px;
    padding-right: 12px;
}

.btnarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.normalbtn {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid transparent;
}

.normalbtn {
    background-color: #f8f9fa;
    font-size: 14px;
    border-radius: 4px;
    border-color: white;
    margin: 4px;
    padding: 7px 14px 7px 14px;
    font-family: arial;
    color: #3c4043;
}

.normalbtn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

.normalbtn:focus{
    border: 1px solid #4285f4;
}

.leng {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin-top: 26px;
    font-family: arial;
    color: #222;
}

.footer{
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    margin-top: auto;
}

.country {
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(218, 220, 224);
    border-bottom-style: solid
}

.opt {
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.txtbtn {
    padding: 7.5px;
    font-size: 13px;
}

.gray {
    color: rgba(0,0,0,.54);
    padding: 14px;
    font-size: 14px;
}

.bigger {
    font-size: 15px;
}


.blue {
    color: rgb(26, 13, 171);
    padding: 0;
    padding-left: 3px;
}